
body {
  background-color: #181818;
}

main{
  max-width: 780px;
  margin: 0 auto;
}

header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > h1 {
  font-family: "Shrikhand", cursive;
  color: #EEE;
  margin: 0%;
  padding: 0%;
}

header button {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 10px;
  margin-left: auto;
}

header i {
  font-size: 1.5em;
  margin-right: 10px;
}

img{
  width: 100%;
  height: auto;
}

#end {
  width: 10px;
  height: 2px;
  background-color: red;
  position: relative;
  top: -700px;
}

.up-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 18px;
  border-radius: 50%;
  background-color: #222;
  display: flex;
  font-size: 2em;
  color: #EEE;
}

.up-button:hover{
  background-color: #111;
  box-shadow: 0px 0px 10px #aaa;
}